.createPostContainer {
    padding: 2rem;
    padding-bottom: 8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    margin: 0;
}

.saveButton {
    padding: 0.75rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveButton:hover {
    background-color: #45a049;
}

.saveButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.bannerImgLabel {
    font-size: 1rem;
    color: black;
    margin: 0.5rem 0;
    font-weight: 600;
}

.uploadIcon {
    background-image: url('./assets/upload.svg');
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}