*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Newsreader', 'Georgia', 'Cambria', 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body,
#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
}