.label {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.titleInput {
    width: 100%;
    padding: 0.7rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
/* Responsive Design */
@media (max-width: 768px) {
    .titleLabel {
        font-size: 0.95rem;
    }

    .titleInput {
        font-size: 1.2rem;
        padding: 0.6rem;
    }
}

@media (max-width: 480px) {
    .titleLabel {
        font-size: 0.9rem;
    }

    .titleInput {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
